$venetian-red: #6f0015;
$mordant-red-19: #b10909;
$mahogany: #c53600;
$flame: #dd531e;
$gamboge: #ec9800;
$bright-sun: #fecf3b;
$ufo-green: #2dc558;
$north-texas-green: #03902b;
$french-blue: #0772b8;
$celestial-blue: #3993ce;
$amethyst-smoke: #a496c0;
$languid-lavender: #d1c9df;
$white: #feffff;
